# Wallet Credentials
WALLET_PRIVATE_KEY=your_private_key_here
WALLET_ADDRESS=your_wallet_address_here
FUNDER_ADDRESS=

# Polygon Network
CHAIN_ID=137
HOST=https://clob.polymarket.com
# Web3 RPC Provider (HTTPS or WSS)
WEB3_PROVIDER_URI=https://polygon-rpc.com

# Bot Configuration
PRINT_VERBOSE_SPREADS=true
